*{
  margin: 0;
  border: 0;
} 
*,*::before,*::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{
  padding: 0;
  border: 0;
}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{
  font-size: inherit;
  font-weight: 400;
}
/*--------------------------------------*/
@import 'vars';
@import 'fonts';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* img {
  max-width: 100%;
}

/*-------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  // font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*------------------------------------*/
/*--------------Header----------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  pointer-events: none;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-right: 40px;
}

.navbar .btnLogin-popup {
  position: relative;
  background: transparent;
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.navbar .btnLogin-popup::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: .85;
}

.section {
  min-height: 100vh;
  background: url('../images/background.png') no-repeat;
  background-size: cover;
  background-position: center;
}
/*form*/
.wrapperr {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(15px);
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
  display: flex;
  // align-items: center;
  /*для column выравнивание по центру через justify-content*/
  /*при добавлении ссылок регистрации через соцсети*/
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  /*прячем полностью всю форму*/
  opacity: 0;
  pointer-events: none;
}
/*при нажатии кнопки Login форма появляется*/
.wrapperr.active-popup {
  opacity: 1;
  pointer-events: auto;
}

.icon-close {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  right: 0;
  cursor: pointer;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
}

.icon-close i {
  font-size: 32px;
  color: #222;
}

.wrapperr .logreg-box {
  width: 100%;
}
/*First form*/
.wrapperr .form-box.login {
  // display: none;
  display: block;
}
/*при нажатии Register в First form-форма прячется*/
.wrapperr.active .form-box.login {
  display: none;
}
/*Second form*/
.wrapperr .form-box.register {
  display: none;
}
/*при нажатии Register в First form-Second form проявляется*/
.wrapperr.active .form-box.register {
  // display: none;
  display: block;
}

.logreg-box .logreg-title {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

.logreg-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.logreg-title p {
  font-size: 14px;
  font-weight: 500;
}

.logreg-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  /*для вводимых символов*/
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  /* внутренний отступ с правой стороны, чтобы символы пароля не эаезжали на иконки*/
  padding-right: 25px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 19px;
  color: #fff;
}

.logreg-box .remember-fogot {
  font-size: 14.5px;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-fogot label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-fogot a {
  color: #fff;
}

.remember-fogot a:hover {
  text-decoration: underline;
}

.logreg-box .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 16px;
  color: #222;
  font-weight: 600;
}

.logreg-box .logreg-link {
  font-size: 14.5px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  /*выровняьб отступы от ссылки*/
  margin: 25px 0 15px 0;
}

.logreg-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.logreg-link p a:hover {
  text-decoration: underline;
}

/*ссылки регистрации через соцсети для .wrapperr добавили  flex-direction: column; и изменили выравнивание по центру на justify-content: center;*/

.media-options {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.media-options a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.media-options a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.media-options a i {
  font-size: 22px;
  margin: 0 8px 1.5px 0;
}

.media-options a span {
  font-size: 16px;
  font-weight: 500;
}